@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background:
    radial-gradient(circle at top left, #1e3a8a 0%, transparent 30%),
    radial-gradient(circle at bottom right, #7c3aed 0%, transparent 30%),
    #050816;

  color: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 20px;
}